@linkHover: #F49B33;
@disableGray: #5E5E5E;
@segoe: 'Segoe UI', 'Open Sans', Helvetica, sans-serif;
@segoe-semibold: 'Segoe UI Semibold', 'Open Sans', Helvetica, sans-serif;
@segoe-bold: 'Segoe UI Bold', 'Open Sans', Helvetica, sans-serif;
@segoe-light: 'Segoe UI Light', 'Open Sans', Helvetica, sans-serif;

.container {
    margin: 0 auto;
    &__sections {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &-left {
            max-width: 1060px;
            width: 100%;
        }
        &-right {
            max-width: 327px;
            width: 100%;
        }
    }
}
